<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Products</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<!--Established locale country: <span th:text="${#locale.country}">US</span>-->

<div class="container">

    <h3>List Products</h3>

    <hr/>
    <a th:href="@{/list-products-page}" th:object="${products}" methods="" class="btn btn-primary">Add Products</a>
    <br/><br/>

<!--    Thymeleaf requires you to specify the command object by using a th:object attribute in your <form> tag:-->



        <form action="#" th:action="${products}" method="GET">

            <a>
<!--                <input type="text" id="datePlanted" name="datePlanted" th:value="*{datePlanted}" />-->


            </a>




    <table class="table table-bordered table-striped" id="employeeTable">

        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>PalletSize</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}" />
            <td th:text="${product.palletSize}" />
            <td th:text="${product.price}" />
            <td>
<!--                <a th:href="@{/showUpdateForm(employeeId=${employee.id})}" class="btn btn-info">Update</a>-->

<!--                <a th:href="@{/deleteEmployee(employeeId=${employee.id})}" class="btn btn-danger ml-2">Delete</a>-->
            </td>
        </tr>
        </tbody>

    </table>


        </form>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#employeeTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>
</body>

</html>